<div class="beer-div">
    <img class="beer-img " src="{{this.image_url}}" alt="">
    <h3>{{this.name}}</h3>
    <p id="tagline">{{this.tagline}}</p>
    <p id="description">{{this.description}}</p>
</div>
