<div class="container">
    <img id="home-beer-img" src="images/beer.png" alt="">
    <a href="/beers" class="btn btn-primary myBtn">Check the Beers</a>
    <a href="/random-beer" class="btn btn-primary myBtn">Check a Random Beer</a>
</div>