/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/


.myNav {
    color: #f7f9f9 !important;
}

.myBtn {
    margin: 1rem;
}

#home-beer-img{
    width: 12rem;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.beer-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:start;
    margin: 1.5rem;
    flex-wrap: wrap;
}

.rand-container {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 5rem;
}

.beer-img{
    width: 5rem;
    margin-bottom: 1rem;
}
.rand-img{
    width: 7rem;
    margin-top: 1.5rem;
    margin-right: 3rem;
}

.beer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    width: 400px;
}

.title {
    margin-left: 1.3rem;
}

#tagline {
    color: grey;
    font-size: small;
}

#main-page{
    height: 80vh;
}
